<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Submitted Info</h1>

    <ul>
        <li>Name :@ViewBag.Name</li>
        <li>Dojo Location: @ViewBag.Location </li>
        <li>Favorite Language: @ViewBag.Language</li>
        <li>Comment : @ViewBag.Comment</li>
    </ul>

</body>
</html>