@{
    ViewData["Title"] = "Privacy Policy";
}
<form asp-action="Logout" method="post" class="d-flex justify-content-end">
        <input type="submit" value="Logout" class=" btn btn-danger "> 
</form>

<h1 class="text-center">Success!</h1>