<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
    <nav>
        <p class="mx-auto" style="width: 200px;"><a href="/">Home</a> | <a href="/projects">Projects</a> |  <a href="/contact">Contact</a></p> 
    <nav>
   
    <div class="d-flex justify-content-between">
        <div class="p-5">
            <img src="~/images/portrait.jpeg" style="width: 200px;">
            <p>Bobothy Jones</p>
            <p>I love to Code</p>
        </div>
        <div  class ="p-5">
             <h1 >About Me</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Tempus quam pellentesque nec nam aliquam sem. Non odio euismod lacinia at quis. <br>
            Tristique sollicitudin nibh sit amet commodo nulla facilisi. 
            In nibh mauris cursus mattis. Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. <br>
            Eget nulla facilisi etiam dignissim. Eu consequat ac felis donec et odio pellentesque diam. 
            Cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl. <br>
            Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Vitae nunc sed velit dignissim sodales ut eu sem. 
        </div>
    </div>
</body>
</html>